<% @page_title = 'Edit Pages'%>

<div class="container">
	<div class="jumbotron">
		<h2>Edit page</h2>

		<%= form_for(:page, :url => {:action => "update", :id => @page.id, :subject_id => @subject.id}) do |f| %>
	
			<%= render(:partial => 'form', :locals => {:f => f}) %>

			<div class="row">
				<div class="col-md-6"><%= submit_tag("Edit", :class => "btn btn-default btn-block") %></div>
				<div class="col-md-6"><%= link_to("Back", {:action => 'index',:subject_id => @subject.id}, :class => "btn btn-default btn-block") %></div>
			</div>
		<%end%>
	</div>
</div>
