<header>
	<div class="container">
		<table>
			<tr class="row">
				<td class="col-sm-2"><%= image_tag("ruby_rails.png", size: '120x120')%></td>
				<td class="col-sm-6">Vacation</td>
				<td class="col-sm-4">Search</td>
			</tr>
			
		</table>
		<p>
			
		</p>
	</div>
</header>