<div class="dcjq-mega-menu">
	<div class="container">
	<ul id="mega-menu-tut" class="menu">
	<li><a href="#">Home</a></li>
	<li><a href="#">Destination</a>
		<ul>
			<li id="menu-item-1"><a href="#">Country</a>
				<ul>
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>				
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="#">Country</a>
				<ul>
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>				
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>
				</ul>
			</li>
			<li id="menu-item-3"><a href="#">Country</a>
				<ul>
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>				
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>
				</ul>
			</li>
			<li id="menu-item-4"><a href="#">Country</a>
				<ul>
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>				
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>
				</ul>
			</li>
			<li id="menu-item-5"><a href="#">Country</a>
				<ul>
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>				
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>
				</ul>
			</li>
			<li id="menu-item-6"><a href="#">Country</a>
				<ul>
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>				
					<li><a href="#">City</a></li>
					<li><a href="#">City</a></li>
				</ul>
			</li>
			
		</ul>
	</li>
	<li><a href="#">Accommodation</a>
		<ul>
			<li id="menu-item-1"><a href="#">City</a>
				<ul>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="#">City</a>
				<ul>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
				</ul>
			</li>
			<li id="menu-item-3"><a href="#">City</a>
				<ul>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
				</ul>
			</li>
			<li id="menu-item-4"><a href="#">City</a>
				<ul>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
				</ul>
			</li>
			<li id="menu-item-5"><a href="#">City</a>
				<ul>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
				</ul>
			</li>
			<li id="menu-item-6"><a href="#">City</a>
				<ul>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
					<li><a href="#">Hotel</a></li>
				</ul>
			</li>
			
		</ul>
	</li>
	<li><a href="#">Rent a Car</a>
		<ul>
			<li id="menu-item-1"><a href="#">Rent a Car</a>
				<ul>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
				</ul>
			</li>
			<li id="menu-item-2"><a href="#">Rent a Car</a>
				<ul>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
				</ul>
			</li>
			<li id="menu-item-3"><a href="#">Rent a Car</a>
				<ul>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
				</ul>
			</li>
			<li id="menu-item-4"><a href="#">Rent a Car</a>
				<ul>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
				</ul>
			</li>
			<li id="menu-item-5"><a href="#">Rent a Car</a>
				<ul>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
				</ul>
			</li>
			<li id="menu-item-6"><a href="#">Rent a Car</a>
				<ul>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
					<li><a href="#">Vehicle</a></li>
				</ul>
			</li>
			
		</ul>
	</li>
	
	<li><a href="#">Link</a>
	  <ul><li><a href="#">Link 1</a></li>
	  	<li><a href="#">Link 2</a></li>
	  </ul>
	</li>
	
	
	<li><a href="#">Link</a>
    

	<li><a href="#">Login </a>
	  <ul class="dropdown-menu" style="padding:15px;">	  </ul>
	</li>
</ul>
</div>
</div>
<div style="height: 50px;"></div>
