<div class="container">
	<h2>Edit Subject</h2>
	<div class="jumbotron">

		<%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f|%>

			<%= render(:partial => 'form', :locals => {:f => f})%>

				<div class="row">					
					<div class="col-md-6"><%= submit_tag "Edit subject", :class => "btn btn-default btn-block" %></div>
					<div class="col-md-6"><%= link_to "Back", {:action => 'index'}, :class => "btn btn-default btn-block" %></div>
					
				</div>
		<%end%>
	</div>
</div>