<div class="container">
	<div class="row">
		<div class="col-md-6"><%= link_to "Back", {:controller => 'public', :action => 'index'}, :class => "btn btn-default btn-block" %></div>
		<div class="col-md-6"><%= link_to "New Subject", {:action => 'new'}, :class => "btn btn-default btn-block" %></div>
	</div>
	<br>
	<% @subjects.each do |subject| %>
	<div class="row">
		<div class="col-md-12">
			<%= image_tag(subject.logo, :class => "img-circle", size: "180x140") %>
  			<h2><%= link_to subject.name, {:action => 'show', :id => subject.id } %></h2>
		</div>
	</div>
	<%end%>	
</div>
