<header>
	<div class="container">
		<div class="row">
			<div class="col-md-2"><%= image_tag("ruby_rails.png", size: '100x100')%></div>
			<div class="col-md-6">Vacation
				<p>Call: +387 61 300 814  </p></div>
			<div class="col-md-4">Search</div>
		</div>
		<div class="row">
			<div class="col-md-12"><%= render(:partial => 'public/megadrop') %></div>
		</div>
	</div>
</header>